.cdx-anchor-tune-wrapper {
    display: flex;
    padding: 3px;
}

.cdx-anchor-tune-icon {

}

.cdx-anchor-tune-icon svg {
    width: 12px; 
    vertical-align: baseline;
}

.cdx-anchor-tune-input {
    color: var(--blue);
    padding: 0;
    border: 0;
    outline: none;
}