.editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  /*border: 1px solid var(--gray-light);*/
  padding: 15px;
  margin: 15px auto;
  background: var(--white);
}

.title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  /*outline: none;*/
}

.input {
  border: none;
  outline: none;
  padding: 10px 15px;
  box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.23);
}

.input::placeholder {
  color: var(--gray);
}

.textarea {
  max-width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  box-shadow: 1px 1px 5px rgba(124, 124, 124, 0.23);
}

.previewText {
  font-size: 16px;
  min-height: 100px;
  max-height: 100px;
  resize: none;
}

.publish {
  margin-left: auto;
}

/*  Editor styles */
.customOption {
  width: 120px !important;
}

.customOption:hover,
.customOption2:hover {
  box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.2) !important;
}

.customDropdown {
  min-width: 200px;
  padding: 7px !important;
  overflow-y: auto !important;
  box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.2) !important;
}

.customOption2 {
  height: 100% !important;
  width: 40px;
}
